.form__group {
  margin-bottom: 24px;
  position: relative;
  font-family: $fontFamilyDin, Arial, sans-serif;
}

.form__label {
  display: block;
  padding-top: 21px;
  padding-left: 24px;
  margin-bottom: 0;
  color: $textColor3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity .2s ease-in-out, transform .2s ease-in-out;
}

.form__control,
.form__textarea {
  width: 100%;
  padding: 1rem 24px;
  font-family: $fontFamilyDin, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: $white;
  border-radius: 8px;
  border: 1px solid var(--al-bg-dark-stroke);
  background: $bgDark;
  display: block;
  background-clip: padding-box;
  transition: border-color .2s ease-in-out, background-color .2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  @include hidePlaceholder {
    color: transparent;
    opacity: 0.4;
    transition: opacity .2s ease-in-out;
  }

  &:hover {
    border-color: rgba($primary, .5);
  }

  &:disabled,
  &[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
  }


  &:focus,
  &:not(:placeholder-shown) {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
    border-color: rgba($primary, .5);
    outline: 0;

    & ~ .form__label {
      font-size: 15px;
      transform: translateY(-10px);
    }
  }
}

.form__control {
  height: 60px;
  padding: 0.375rem 24px;
}

.form__textarea {
  height: 120px;
  padding: 18px 24px 8px;
}

.form__error ~ .form__error-text {
  display: block;
}

.form__error-text {
  display: none;
  padding-top: 12px;
  padding-left: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: $error;
}
